/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header img {
  width: 100%;
}

.header .more_inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.task-row-wrapper {
  display: flex;
}

ul {
  margin:0;
  padding: 0px;
}

li, h3 {
  list-style:none;
}

input,button{
  outline:none;
}

.btn{
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.header-section {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.edit-box {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: lato, sans-serif;
  color: #888;
}

.edit-box:focus {
  color: #333;
}

/* New Task */
.new-task-label {
  display: block;
  margin: 0 0 20px;
}

.new-task-input {
  width: 318px;
}

.new-task-button:hover {
  color: #0fc57c;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > * {
  vertical-align: middle;
}

.task-checkbox {
  margin: 0 10px;
}

.task-label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.delete:hover {
  color: #cf2323;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition : transform 200ms ease-in;
}

.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-completed-label {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.list-item .edit-box {
  display:none
}

.edit-mode .edit-box {
  display:inline-block;
  width:224px
}

.edit-mode .task-label {
  display:none;
}
